@import ./variables

body
    font-family: $font-family-primary, sans-serif


// classes
.ff-1
    font-family: $font-family-primary, sans-serif

.ff-2
    font-family: $font-family-secondary

.bg-main
    background: url("../img/main_bg.jpg")

// header

#header-top
    // https://stackoverflow.com/a/26621579
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/banner1.jpg') no-repeat center
    height: 890px
    background-size: cover

#nav-top
    ul
        li
            font-size: 0.9rem
            color: white
            text-transform: uppercase
            padding: 1em 2em
            border-top: solid 1px rgba(255, 255, 255, 0.7)
            border-bottom: solid 1px rgba(255, 255, 255, 0.7)



@import ./components
@import ./pages/_header
@import ./pages/_footer