@import ./variables

body
    font-family: $font-family-primary, sans-serif

// classes
.ff-1
    font-family: $font-family-primary, sans-serif

.ff-2
    font-family: $font-family-secondary

.bg-main
    background: url("../img/main_bg.jpg")

.book-form
    background: url("../img/book_table_bg.jpg") top no-repeat
    height: 530px
    max-width: 770px
    border-radius: 20px
    input, select
        border: none
        width: 250px
        height: 40px
        border-radius: 10px
        padding-left: 10px
        font-size: 0.9rem
        text-transform: capitalize
        color: rgba(0,0,0, 0.6)
        &::placeholder
            color: black

@import ./components
@import ./pages/_header
@import ./pages/_menu
@import ./pages/_chef
@import ./pages/_footer