@import ./variables

body
    font-family: $font-family-primary, sans-serif

// classes
.ff-1
    font-family: $font-family-primary, sans-serif

.ff-2
    font-family: $font-family-secondary

.bg-main
    background: url("../img/main_bg.jpg")

// blog
.blog
    img
        border-radius: 20px
        border: solid 5px rgba(0, 0, 0, 0.1)
    .social-blog
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 50%)
        background-color: $primary
        color: white
        font-size: 1.2rem
        font-weight: 300
        text-transform: capitalize
        width: 80%
        padding: 0.9em 0.25em 0.6em 
        border-radius: 20px
        span
            font-size: 1.5rem
            font-weight: bold


@import ./components
@import ./pages/_header
@import ./pages/_menu
@import ./pages/_chef
@import ./pages/_book
@import ./pages/_footer