@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.ff-1 {
  font-family: "Lato", sans-serif;
}

.ff-2 {
  font-family: "Courgette", cursive;
}

.bg-main {
  background: url("../img/main_bg.jpg");
}

button {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 100px;
  border: none;
  font-size: 0.8rem;
}

.btn-primary {
  background-color: white;
  color: black;
}

.btn-secondary {
  background-color: #c42d40;
  color: white;
}

h1 {
  font-family: "Courgette", cursive;
  color: white;
  font-size: 3rem;
}

h1 .fs-big {
  font-size: 4.5rem;
}

h2 {
  text-align: center;
  font-family: "Courgette", cursive;
  text-transform: capitalize;
  font-size: 2.25rem;
  position: relative;
  margin: 50px 0;
}

h2 span {
  font-size: 3.1rem;
  color: #c42d40;
  text-transform: uppercase;
}

h2::after {
  content: '';
  background: url("../img/decoration_line.png") no-repeat;
  width: 442px;
  height: 13px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -0.5rem;
}

#header-top {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/banner1.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/banner1.jpg") no-repeat center;
  height: 955px;
  background-size: cover;
  border-bottom: 20px solid transparent;
  -o-border-image: url("../img/bottom_decoration_img.png") 30 round;
     border-image: url("../img/bottom_decoration_img.png") 30 round;
}

#nav-top ul li {
  font-size: 0.9rem;
  color: white;
  text-transform: uppercase;
  padding: 1em 2em;
  border-top: solid 1px rgba(255, 255, 255, 0.7);
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
}

.nav-menu a {
  color: #ccc;
  position: relative;
  background-color: white !important;
  padding: 0 60px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.33);
  border-radius: 0px !important;
}

.nav-menu a i {
  margin-top: 20px;
  display: block;
}

.nav-menu a h3 {
  color: black;
  margin-top: 20px;
  font-family: "Courgette", cursive;
}

.nav-menu a:after {
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -5px;
  content: "";
  width: 6px;
  background-color: transparent;
}

.nav-menu .active {
  color: #c42d40 !important;
}

.nav-menu .active:after {
  background-color: #c42d40;
}

.menu-item {
  margin-top: 5px;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: dotted 1px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  border: solid 5px rgba(0, 0, 0, 0.1);
  width: 120px;
  margin-right: 10px;
}

.menu-item h6 {
  font-size: 1rem;
  font-weight: bold;
}

.menu-item .price {
  color: #c42d40;
  padding: 0px 16px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.1);
}

#chef {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../img/team_background.jpg") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/team_background.jpg") no-repeat center;
  background-size: cover;
}

#chef p {
  border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.book-form {
  background: url("../img/book_table_bg.jpg") top no-repeat;
  height: 530px;
  max-width: 770px;
  border-radius: 20px;
}

.book-form input, .book-form select {
  border: none;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}

.book-form input::-webkit-input-placeholder, .book-form select::-webkit-input-placeholder {
  color: black;
}

.book-form input:-ms-input-placeholder, .book-form select:-ms-input-placeholder {
  color: black;
}

.book-form input::-ms-input-placeholder, .book-form select::-ms-input-placeholder {
  color: black;
}

.book-form input::placeholder, .book-form select::placeholder {
  color: black;
}

.blog img {
  border-radius: 20px;
  border: solid 5px rgba(0, 0, 0, 0.1);
}

.blog .social-blog {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #c42d40;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
  width: 80%;
  padding: 0.9em 0em 0.6em 0.5em;
  border-radius: 10px;
  text-align: start;
}

.blog .social-blog span {
  font-size: 1.5rem;
  font-weight: bold;
}

#testimonials {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/testimonials_background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/testimonials_background.jpg");
  height: 554px;
}

#testimonials img {
  width: 160px;
  border-radius: 100%;
  border: solid 5px rgba(255, 255, 255, 0.9);
}

#testimonials .client-card {
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px 10px;
}

#testimonials .client-card p {
  margin-bottom: 0;
  font-weight: 300;
}

#testimonials .client-card span {
  font-size: 1.1rem;
  color: #c42d40;
  display: block;
  margin: 5px 0;
}

.contact-box {
  border-radius: 20px;
  padding: 40px 15px;
  color: white;
}

.contact-box p:not(:last-of-type) {
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.contact-box p:last-of-type {
  margin-bottom: 0;
}

#footer-bottom .footer-content {
  padding-top: 30px;
  background: url("../img/footer_background.jpg") top;
  border-top: 20px solid transparent;
  -o-border-image: url("../img/footer_bottom_decoration_img.png") 30 round;
     border-image: url("../img/footer_bottom_decoration_img.png") 30 round;
  height: 315px;
  font-size: 0.9rem;
}

#footer-bottom .footer-content h4 {
  text-transform: uppercase;
}

#footer-bottom .footer-content .badge {
  border-radius: 100px;
  font-size: 0.8rem;
  padding: 10px 20px;
  margin: 5px 5px;
  font-size: 0.9rem;
  border: solid 1px white;
}
/*# sourceMappingURL=style.css.map */